a {
    text-decoration: none;
}
.wallet_enter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sph_keys {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width:250px;
    text-align: center;
    font-size: 12px;
    color:#b5b6b8;
    margin-top: 20px;
}
.sph_submit {
    border-radius: 50px;
    border: 0;
    background-color: #ebecf1; /*  Серый фон по умолчанию */
    color: #bdbec3; /*  Темнее серый цвет текста */
    width: 300px;
    height: 40px;
    display: flex;
    font-size: 15px;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    font-size: 18px;
    cursor: not-allowed; /*  Устанавливаем курсор "недоступно" */
    transition: background-color 0.3s ease, color 0.3s ease; /*  Добавляем плавный переход */
  }

  .sph_submit.active { 
    background-color: #120ac2;
    color: white;
    cursor: pointer; /*  Устанавливаем курсор "указатель" */
  }

  .sph_input {
    padding-top: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 300px;
    height: 200px;
    resize: none;
    padding-left: 10px;
  }
.sph_title1,.sph_title2 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color:#929699;
    margin-left:5px;
}
.sph_input1{
    padding-left:5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    width:300px;
    height: 30px;
    display: flex;
    margin-bottom: 20px;
    font-weight:500;
}
.sph_input:focus {
    outline: none;
  }
.sph_input1:focus {
    outline: none;
  }
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px
}
.wrappersph{
    height:1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px
}

.trust_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1_text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width:600px;
    text-align: center;
    margin:0;
}
.h1_text_sph{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width:600px;
    margin-bottom:20px;
    margin-top: 0;
}
.button_container {
    margin-top:30px;
    text-align: center;
  }
  .button_container p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .create_wallet {
    display: flex;
    align-items: center;
    background-color: #dbdbdb;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 550px; /*  Задаем начальную ширину */
    position: relative;
  }
  .secret-phrase {
    display: flex;
    align-items: center;
    background-color: #dbdbdb;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 550px; /*  Задаем начальную ширину */
    position: relative;
  }

  .button_icon {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .button_text {
    padding:10px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
    /* margin-left: 45px; */
  }

  .text1 {
    padding-top: 10px;
    margin:0;
    font-size: 30px;
    color:rgb(55, 55, 55);
  }
  
  .text2 {
      font-size: 18px;
      color: #5c5c5c;
      margin-left: -30px;
    }
    
    .text1_sph {
      margin-top:10px;
      margin-bottom: 0;
      margin-left: -50px;
      font-size: 30px;
      color:rgb(55, 55, 55);
    }
  .text2_sph{
    font-size: 18px;
    color: #5c5c5c;
    margin-left: 60px;
  }

  @media (max-width: 550px) { /*  Медиазапрос для экранов шириной меньше 550px */
    .h1_text_sph {
        font-size: 25px;
    }
    .create_wallet {
      width: 350px; /*  Кнопка занимает всю ширину */
    }
    .button_container_2 {
        margin-top: 20px;
    }
    .secret-phrase{
        width:350px;
        padding:0;
    }
    .button_icon {
      width: 50px;
      height: 50px;
    }
    .text1 {
        padding-top: 10px;
        margin-left: 70px;
        font-size: 20px;
        text-align: center;
    }
    .text1_sph {
        margin-left: -15px;
        font-size: 20px;
        text-align: center;
    }
    .text2 {
        margin-left: 45px;
        font-size: 12px;
        text-align: center;
    }
    .text2_sph {
        font-size: 12px;
        text-align: center;
    }
  }
  @media (max-width: 399px) { /*  Медиазапрос для экранов шириной меньше 550px */
    .h1_text{
        margin-top: 40px;
        font-size: 25px;
    }
    .text1_sph {
        margin-left:-30px;
        font-size: 20px;
        text-align: center;
    }
    .text2_sph {
        margin-left: 55px;
        font-size: 10px;
        text-align: center;
        width:200px
    }

    .button_container{
        margin-top: 5px;
    }
    .create_wallet {
      width: 300px; /*  Кнопка занимает всю ширину */
      height: 100px;
      margin-bottom: 20px;
      margin-top: 10px;
    }
    .button_icon {
        left:20px;
      width: 40px;
      height: 50px;
    }
    .text1 {
        padding-top: 10px;
        margin-left: 60px;
        font-size: 16px;
        text-align: center;
    }
    .text2 {
        margin-left: 50px;
        font-size: 10px;
        text-align: center;
    }
  }